
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Correcto</title>
</head>
<body>
    <div> 
        <p>Los datos de los estudiantes fueron agragado correctamente</p>
        @Html.ActionLink("Retornar", "Index")
    </div>
</body>
</html>
